body { /*Formato general al body*/
	margin: 0 auto; /*para que no tenga márgenes con los bordes*/
	background-color: #642EFE; /*color de fondo*/
	background-size: cover; /*con eso cubre todo el fondo*/
	font-family: 'Source Sans Pro', sans-serif; /*tipo de fuente*/
}

nav { /*formato general del nav*/
	text-align: left; /*alinear texto a la izquierda*/
	margin: 0 auto; /*sin margen*/
	width: 100%; /*ancho al 100% del body*/
	background-color: #210B61; /*color de fondo*/
	padding-bottom: 0.1rem; /*para cubrir un poco hacia abajo*/
}

nav .fa { /* formato general de los elementos fa*/
	color: #FFFFFF; /*color blanco*/
	font-size: 1.25rem; /*tamaño*/
	display: inline-block; /*para que sean bloques en línea*/
}

#fa-trello { /*primer elemento del nav*/
	background-color: #642EFE; /*color del fondo*/
	padding: 0.25rem 0.5rem 0.25rem 0.5rem; /*para darle el aspecto de input*/
	margin: 0.5rem 0rem 0.5rem 0.5rem; /*margen*/
}

#fa-search { /*segundo elemento del nav*/
	background-color: #642EFE; /*color del fondo*/
	padding: 0.25rem 0.5rem 0.25rem 10rem; /*para darle el aspecto de input*/
	margin-left: 0.5rem; /*margen izquierdo*/ 	
}

#trello { /*título del navegador*/
	color: #642EFE; /*color*/
	margin: 0.5rem 0rem 0.5rem 17rem; /*margen*/
}

nav .fa-color { /*formato general de los íconos del final del nav*/
	background-color: #642EFE; /*color del fondo*/
	margin: 1rem 0rem 1rem 0.5rem; /*margen*/
}

nav .fa-plus{ /*formato detallado del ícono +*/
	padding: 0.25rem 0.3rem 0.25rem 0.3rem;/*para darle el aspecto de botón*/
	margin-left: 28rem; /*margen*/
}

nav .fa-info {/*formato detallado del ícono info*/
	padding: 0.25rem 0.5rem 0.25rem 0.5rem; /*para darle el aspecto de botón*/
}

nav .fa-bell {/*formato detallado del ícono campana*/
	padding: 0.25rem 0.2rem 0.25rem 0.2rem; /*para darle el aspecto de botón*/
}

nav .perfil { /*formato de la imagen de perfil*/
	vertical-align: middle; /*alinear al centro*/
	height: 1.75rem; /*altura*/
	width: 1.75rem; /*ancho*/
	margin: 0.5rem 0rem 0.5rem 0.5rem; /*margen*/
}

/*formato general del header*/
header { /*formato general del header*/
	color: #FFFFFF; /*color del texto*/
}

header h3,i,a { /*formato general de todos los elementos del header*/
	display: inline-block; /*para que sean bloques en línea*/
	color: #FFFFFF;/*color del texto*/
}

header h3 {/*formato detallado del título*/
	padding-left: 1rem; /*para ubicarlo dentro de su sección*/
}

header .fa-star,.fa-lock{ /*para ubicar los mini íconos*/
	padding-left: 1rem; /*para ubicarlo dentro de su sección*/
}

header a { /*formato general de los elementos de navegación*/
	text-decoration: none; /*sin decoración*/
	padding-left: 0.5rem; /*para ubicarlo dentro de su sección*/
}

header .fa-ellipsis-h { /*formato detallado del mini ícono*/
	padding-left: 48rem; /*para ubicarlo dentro de su sección*/
}

/*formato general de la section*/

#add-list { /*formato del link a de añadir una lista*/
	color: #6E6E6E; /*color de la fuente*/
	padding: 0.5rem; /*relleno*/
	margin: 0 0.3rem 0 0.3rem; /*margen desde la izquierda*/
}

#div-creator { /*para darle formato al formulario de ingreso de listas*/
	display: inline-block; /*para que aparezca como bloque en línea*/
	width: 20%; /*ancho 20% de su padre*/
	background-color: #D8D8D8; /*color de letras*/
	margin-left: 1rem; /*margen de la izquierda*/
	padding: 0.5rem 0 0.5rem 0; /*un poco de relleno para que se vean centrados los botones del formulario */
}

#buttonCreator { /*formato del botón guardar*/
	background-color: #01DF01; /*color de fondo*/
	padding: 0.3rem; /*relleno*/
	margin: 0.3rem 0 0 0.35rem; /*margen de los lados*/
}

section .list-creator { /*formato detallado del input*/
	margin-left: 0.5rem; /*margen desde la izquierda*/
	padding: 0.3rem; /*relleno*/
}

#lists-container { /*formato general del div contenerdor de las listas*/
	display: inline-block; /*para que aparezca como bloque en línea*/
}

section .lists { /*formato general de las listas*/
	float: left;
	background-color: #D8D8D8; /*color de fondo*/
	margin: 1rem; /*margen*/
}

section .lists p { /*formato de los párrafos de nombre de las listas*/
	font-size: 1.5rem; /*tamaño de la fuente*/
	font-weight: bold; /*para que aparezca en negrita*/
	margin: 0rem 0.3rem 0.5rem 0.35rem; /*margen de los lados*/
	padding: 0.5rem 0.5rem 0 0.35rem; /*relleno desde la izquierda*/
}

section .add-card { /*formato del link para que aparezca el formulario de insertar tarjeta*/
	padding: 0 0.5rem 0 0.5rem; /*relleno de los lados*/
	color: #6E6E6E; /*color del texto*/
}

section .homeWorkLists { /*formato del textarea*/
	display: block; /*para que se comporte como bloque*/
	margin: 0 0.5rem 0.5rem 0.5rem; /*margen*/
}

#buttonAdd { /*formato del botón guardar*/
	background-color: #01DF01; /*color de fondo*/
	padding: 0.3rem; /*relleno*/
	margin: 0rem 0.3rem 0.5rem 0.35rem; /*margen*/
}

section .lists .homeWorkCard { /*formato de los párrafos de tareas*/
	background-color: #F2F2F2; /*color de fondo*/
	font-size: 1rem; /*tamaño de la fuente*/
	font-weight: normal; /*fuente grosor normal*/
	margin: 0rem 0.5rem 0.5rem 0.5rem; /*margen de los lados*/
	padding: 0.25rem 0.5rem 0.25rem 0.5rem; /*relleno desde la izquierda*/
}